@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<h1>Termos de Privacidade</h1>

<p>Política de Privacidade do Aplicativo Organizador de Tarefas <br>

VOCÊ <br>

Introdução <br>

Bem-vindo ao nosso aplicativo de organizador de tarefas (“Aplicativo”). A sua privacidade é importante para nós. Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos suas informações pessoais ao usar nosso Aplicativo. Ao utilizar nosso Aplicativo, você concorda com as práticas descritas nesta Política de Privacide <br>

1. Informações que coletamos <br>

1.1. Informações fornecidas por você <br>

Cadastro: N <br>
Tarefas e Notas: Informar <br>
1.2. Informações coletadas automaticamente <br>

Dados de Uso: Informações
Informações do Dispositivo:Tipo de di <br>
1.3. Cookies e Tecnologias Semelhantes 
Util

2. Como Usamos Suas Informações <br>

Para fornecer e melhorar o serviço: nós
Comunicações:Podemos você
Personalização: Usamos
3. Compartilhamento de Informações <br>

Não vendemos suas informações pessoais a terça

Provedores de Serviço: Empresas
Conformidade Legal:Quando exi
Transferência de Negócios: Em caso <br>
4. Segurança das Informações <br>

Implementamos medidas de segurança adicionais para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão de dados pela internet ou armazenamento eletrônico é totalmente segura <br>

5. Seus Direitos e Escolhas <br>

Acesso e atualização: Você pode <br>
Exclusão: V <br>
Comunicações:Você pode <br>
6. Privacidade de Crianças <br>

Nosso Aplicativo não é destinado a crianças menores de 13 anos. Não coletamos intencionalmente informações pessoais de crianças menores de 13 anos. Se descobrirmos que coletamos informações de uma criança menor de 13 anos, tomaremos medidas para excluir essas informações o mais rápido p <br>

7. Alterações a Esta Política de Privacidade <br>

Podemos atualizar esta Política de Privacidade periodicamente para revisar mudanças em nossas práticas ou em leis aplicáveis. Notificaremos você sobre quaisquer alterações significativas através do aplicativo ou por outros meios de proteção. Recomendamos que você revise esta política regularmente para se manter informado <br>

8. Contato <br>

Se você tiver perguntas ou preocupações sobre esta Política de Privacidade ou nossas práticas de privacidade, entre em <br>

Aceitação dos Termos <br>

Ao utilizar nosso Aplicativo, você concorda com esta Política de Privacidade. <br>

[Desenvolvido por Dango]

Esta Política de Privacidade foi atual</p>
